
body{
  line-height: 1.4rem;
  font-family: Arial, helvetica. sans-serif;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.container{
  width: 80%;
  margin:auto;
}

#main-header{
  background: red;
  color: rgb(50,50,50);
  padding: 2rem;
  text-align: center;
}

#navbar{
  background: #333;
  padding: 1rem;
}

#navbar ul{
  list-style: none;
}

#navbar ul li{
}

#navbar ul li a{
  color: white;
  text-decoration: none;
}

#main-footer{
  background: #333;
  color: white;
  padding: 0.6rem;
  text-align: center;
}

.canvas-wrapper{
  padding: 2rem;
}

.canvas{
  border: 1px black solid;
  align-self: center;
}

.canvas-wrapper h2{
  padding: 1rem;
  align-self: center;
}
